*,body {
  margin: 0px;
  padding: 0px;
}
html,body{
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color:#737373;
  background-color: #fff;
}
li{
  list-style: none;
}

a{
  color:#737373;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.warp{margin:0 auto;width:100%;max-width:1200px;height:auto;}
.content{
  margin:0 auto;
  padding:0 1rem;
  height: auto;
  max-width:1000px;
}

.top{
  position: fixed;
  left: 0;
  top: 0;
  z-index:20;
  width: 100%;
  height:4.5rem;
  background-color:#fff;
  box-shadow: 0px 0px .5rem rgba(0, 0, 0, .3);
}
.footer{
  position: fixed;
  left:0;bottom:0;
  z-index:20;
  width: 100%;
  height:2rem;
  border-top: 1px solid #ccc;
  font-size:0.6rem;
  line-height: 2rem;
  text-align: center;
  background-color:#fff;
}
.bg{
  position: fixed;
  width:100%;
  background-attachment: fixed;
  z-index: -1;
}
.bg_1{
  top:4.5rem;
  height: 35rem;
  background-color: #23628b;
  background-image: url(../images/ban.png);
  background-repeat: repeat;
  background-size: contain;
}
.bg_2{
  top:4.5rem;
  height: 35rem;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.logo{
  padding-left:.5em;
  float: left;
  line-height: 4.5rem;
  font-size:1.5rem;
  color:#3bb5ee;
}
.nav{
  float: right;
}
.nav li{
  float: left;
  width:5rem;
  height:3.5rem;
  line-height: 3.5rem;
  font-size:0.8rem;
  font-weight: bold;
  text-align: center;
}
.nav li:hover{
  color:#fff;
  background-color: #2fbcf8;
}
.nav .curr{
  color:#fff;
  background-color: #3ab5e9;
  border-bottom:1rem solid #37a2d4;
}
.title{
  width: 8rem;
  font-size:2rem;
  padding:1rem;
  color:#fff;
  background-color:#3cb4ee;
  border-right:1rem solid #37a2d4;
}

.index{
  margin-top:4.5rem;
  width: 100%;
  height:35rem;
  
}
.index_t{
  width:100%;
  padding-top:13.5rem;
  white-space: nowrap;
  height:2.5rem;line-height:2.5rem;
  text-align: center;
  font-size:2rem;color: #fff;
  /* text-shadow: 1px 1px 5px #256892; */
  /* -webkit-text-stroke: 2px #000; */
  /* text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff; */
}
.index_t span{
  padding:.5rem;
  background-color: rgba(37,104,146,.5);
}


.info{
  width: 100%;
  height:auto;
  background-color: #f2f3f7;
}
.info::after, .service_c::after, .partner::after{
  content: "";
  display: block;
  clear: both;
}
.introduce{
  margin:0 auto;
  padding: 1rem;
  padding-bottom:3rem;
  max-width: 1000px;
}
.introduce h3{
  padding:2rem 0;
  font-size:1.5rem;
  color:#2d2d2d;
}
.introduce p{
  padding-top:1rem;
  font-size:1rem;
  line-height:1.8rem;
}

.service{
  padding:1rem 0;
  padding-bottom:3rem;
  background-color: #fff;
}

.service_c{}
.ser_item{
  float: left;
  width: 45%;
  margin-top:1rem;
  padding-left:1rem;
  padding-bottom:.5rem;
  border-left:.5rem solid #3cb4ee;
}
.ser_item dt{
  font-size:1.5rem;
  color: #2d2d2d;
}
.ser_item dd{
  padding-top:.5rem;
  font-size:.8rem;
  line-height: 1.5rem;
}
.o{
  border-left:.5rem solid #2d2d2d;
}
/*❶❷❸❹❺❻❼❽❾❿⓫⓬⓭⓮⓯⓰⓱⓲⓳⓴*/
.ser_item dd.l2{
  font-size: 1rem;
  color: #3cb4ee;
}

.p_title{
  margin-top:1rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #2d2d2d;
}
.partner li{
  float: left;
  width: 10rem;
  height:10rem;
  font-size:1rem;
  line-height: 1.5rem;
  text-align: center;
  background-position: center;
  background-size: 90% auto;
  background-repeat: no-repeat;
  border:1px solid #ccc;
}
.partner li:hover{
  background-size: 100% auto;
}

.join{
  padding:1rem 0 3rem 0;
  width: 100%;
  height:auto;
  background-color: #f2f3f7;
}

.fuli{}
.fuli dt{
  margin-top:1rem;
  font-size:1.5rem;
  line-height: 3rem;
  font-weight: bold;
  color: #2d2d2d;
  border-bottom:1px solid #ccc;
}
.fuli dd{
  margin-top:1rem;
  font-size:1rem;
  line-height: 1.5rem;
}

.cantact{
  padding:1rem 0 3rem 0;
  background-color: #fff;
}
.map{
  margin-top:1rem;
  width:100%;
  height:20rem;
}

@media screen and (max-width:700px){
.nav {
  display: none;
}
.m_nav{
  display: block;
}
.ser_item{
  float: none;
  width: auto;
}
}
@media screen and (min-width:700px){
.nav {
  display: block;
}
.m_nav{
  display: none;
}
.index_t{
  text-indent: 25rem;
}
.ser_item{
  float: left;
}
}