*,body {
  margin: 0px;
  padding: 0px;
}
html,body{
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color:#333333;
  background-color: #f4f5f5;
}
li{
  list-style: none;
}

a{
  color:#333333;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.layout{
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.content{
  margin:0 auto;
  height: auto;
  max-width:1000px;
}
.header{
  position: relative;
}
.top{
  position: fixed;
  top: 0;
  left:0;
  z-index: 10;
  width: 100%;
  height:3rem;
  line-height: 3rem;
  background-color:#fff;
  box-shadow: 0px 0px .5rem rgba(0, 0, 0, .2);
}

.nav li,.logo,.tag,.tag dd,.ei_l{
  float: left;
}
.logo{
  width: 14rem;
  text-align: center;
  background-color: #ffcc00;
  color: #fff;
  font-size: 2rem;
}
.nav{
  position: absolute;
  right: .5rem;
  top: 0;
}
.nav li{
  padding:0 .4rem;
  font-size: .8rem;
}

.tag{
  margin-left:1rem;
  margin-top:.3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: .2rem 0;
  background-color: #fff;
  overflow: hidden;
}

.tag dd{
  height: 2rem;
  line-height: 2rem;
  margin-left:.2rem;
  border: 1px solid #f4f5f5;
}

.tag dd.curr a{
  color: #ffcc00;
}
.tag dd a{
  display: block;
  padding: 0 .4rem;
}
.essay_list{
  padding-top:3.4rem;
  padding-bottom: 2rem;
}

.essay_i{
  margin-top:1px;
  padding:1.5rem;
  background-color: #fff;
  overflow: hidden;
}
.essay_i:hover{
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

.ei_info{
  color: #b2bac2;
  font-size: 0.8rem;
  line-height: 1rem;
}
.ei_title{
  font-size: 1.5rem;
  line-height: 3rem;
}
.ei_tag{
  overflow: hidden;
}
.ei_tag li{
  float: left;
  margin-right:.3rem;
  padding:0 .3rem;
  font-size: .8rem;
  line-height:2rem;
  border:1px solid #f4f5f5;
}
.ei_tag li:hover{
  color: #ffcc00;
}
.footer{
  position: fixed;
  bottom: 0;
  left:0;
  z-index: 10;
  width: 100%;
  height:2rem;
  border-top: 1px solid #f4f5f5;
  font-size:0.6rem;
  line-height: 2rem;
  text-align: center;
  background-color: #fff;
}

/**
文章详情
*/
.essay_show{
  position: fixed;
  display: none;
  z-index: 20;
  width: 100%;
  height:100%;
  left:0;
  top:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .5)
}
.essay_bg{
  position: fixed;
  z-index: 5;
  left: 50%;
  top:0;
  height: 100%;
  background-color: #fff;
}
.essay_content{
  position: relative;
  z-index: 9;
  margin: 0 auto;
  max-width: 1000px;
}
.essay_detail{
  padding: 1.5rem;
}
.essay_detail .ei_title{
  line-height:4rem;
}
.essay_words{
  padding: 1rem 0;
}
.essay_words h3{
  margin-top:1rem;
  margin-bottom:1rem;
  font-size:1.2rem;
  line-height: 3rem;
  border-bottom: 1px solid #f4f5f5;
}
.essay_words h4{
  margin-top:1rem;
  margin-bottom:1rem;
  font-size:1rem;
  line-height: 3rem;
}
.essay_words p{
  margin-top:1rem;
  font-size: 1rem;
  line-height: 2rem;
}
.essay_words img{
  max-width: 100%;
  margin: 1rem auto;
}
.essay_words pre{
  padding:1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1rem;
  line-height:1.5rem;
  background-color: rgba(202, 202, 202, 0.2);
  overflow: auto;
}
.essay_words ul{
  padding: .5rem 1.5rem;
}
.essay_words ul li{
  list-style-type: disc;
  font-size:1rem;
  line-height: 2rem;
}
.essay_words ol{
  padding: .5rem 1.5rem;
}
.essay_words ol li{
  list-style-type: decimal;
  font-size:1rem;
  line-height: 2rem;
}

.essay_close{
  position: absolute;
  right: -2.4rem;
  top:0;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width:630px){
  .top{
    height: 6rem;
  }
  .logo{
    float: none;
  }
  .tag{
    float: none;
    width: 100%;
  }
  .essay_list{
    padding-top:6.4rem;
  }
}
@media screen and (min-width:630px){

}