*,body {
    margin: 0px;
    padding: 0px;
  }
  html,body{
    overflow-x: hidden;
  }
  body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: #fff;
  }
  li{
    list-style: none;
  }

  a{
    color:#000;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

  .warp{margin:0 auto;width:100%;max-width:1200px;height:auto;}
  .content{
    width: 100%;
    height: auto;
  }

  .top{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:3.5rem;
    background-color:#182226;
    border-bottom: 1px solid #344850;
  }
  .footer{
    width: 100%;
    height:2rem;
    border-top: 1px solid #ccc;
    font-size:0.6rem;
    line-height: 2rem;
    text-align: center;
    background-color:#fff;
  }
  .bg{
    position: fixed;
    width:100%;
    background-attachment: fixed;
    z-index: -1;
  }
  .bg_1{
    top:3.5rem;
    height: 30rem;
    background-color: #323232;
    background-image: url(../images/index_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .logo{
    padding-left:.5em;
    float: left;
    line-height: 3.5rem;
    font-size:1.5rem;
    color:#fff;
  }
  .nav{
    float: right;
  }
  .nav li{
    float: left;
    width:5rem;
    height:3.5rem;
    line-height: 3.5rem;
    font-size:0.8rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .nav li:hover{
    background-color: #344850;
  }
  .nav .curr{
    background-color: #253339;
  }

  .index{
    margin-top:3.5rem;
    width: 100%;
    height:30rem;
  }
  .index_t{
    width:100%;
    padding-top:13.5rem;
    white-space: nowrap;
    height:2.5rem;line-height:2.5rem;
    text-align: center;
    font-size:2rem;color: #fff;
  }

  .introduce{

  }

  .info{
    height:30rem;
    background-color: #fff;
  }

  @media screen and (max-width:700px){
  .nav {
    display: none;
  }
  .m_nav{
    display: block;
  }
}
@media screen and (min-width:700px){
  .nav {
    display: block;
  }
  .m_nav{
    display: none;
  }
}