*,body {
    margin: 0px;
    padding: 0px;
  }
  html,body{
    overflow-x: hidden;
  }
  body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color:#737373;
    background-color: #fff;
  }
  li{
    list-style: none;
  }

  a{
    color:#737373;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

  .warp{margin:0 auto;width:100%;max-width:1200px;height:auto;}
  .content{
    width: 100%;
    height: auto;
  }

  .top{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:4.5rem;
    background-color:#fff;
  }
  .footer{
    width: 100%;
    height:2rem;
    border-top: 1px solid #ccc;
    font-size:0.6rem;
    line-height: 2rem;
    text-align: center;
    background-color:#fff;
  }
  .bg{
    position: fixed;
    width:100%;
    background-attachment: fixed;
    z-index: -1;
  }
  .bg_1{
    top:4.5rem;
    height: 30rem;
    background-color: #23628b;
    background-image: url(/static/images/ban.png);
    background-repeat: repeat;
    background-size: contain;
  }

  .logo{
    padding-left:.5em;
    float: left;
    line-height: 4.5rem;
    font-size:1.5rem;
    color:#3bb5ee;
  }
  .nav{
    float: right;
  }
  .nav li{
    float: left;
    width:5rem;
    height:3.5rem;
    line-height: 3.5rem;
    font-size:0.8rem;
    font-weight: bold;
    text-align: center;
  }
  .nav li:hover{
    color:#fff;
    background-color: #2fbcf8;
  }
  .nav .curr{
    color:#fff;
    background-color: #3ab5e9;
    border-bottom:1rem solid #37a2d4;
  }

  .index{
    margin-top:4.5rem;
    width: 100%;
    height:30rem;
    background-image: url(/static/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
  }
  .index_t{
    width:100%;
    padding-top:13.5rem;
    white-space: nowrap;
    height:2.5rem;line-height:2.5rem;
    text-align: center;
    font-size:2rem;color: #fff;
  }

  .introduce{

  }

  .info{
    height:auto;
    background-color: #f2f3f7;
  }
  .info::after{
    content: "";
    display: block;
    clear: both;
  }

  .info_ban{float:left;}
  .info_ban svg{width: 30rem;height:33rem;}

  @media screen and (max-width:700px){
  .nav {
    display: none;
  }
  .m_nav{
    display: block;
  }
}
@media screen and (min-width:700px){
  .nav {
    display: block;
  }
  .m_nav{
    display: none;
  }
  .index_t{
    text-indent: 25rem;
  }
}